.header-color {
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: auto;
  left: 0;
  width: 100%;
  height: 100%
}

.head-shot img {
  height: auto;
  border-radius: 50%;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px
}

.banner-text h1 {
  font-size: auto;
  font-weight: bold;
  color: white;
  width: auto;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.banner-text a {
  color: blue;
  font-size: 20px;
}

.social-links i {
  color: white;
  font-size: 4em;
  padding: 5px;
}

.projects-grid {
  display: flex
}

.contact-body {
  margin: auto;
  width: auto;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 5em;
  position: absolute;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 60%;
  height: auto;
  background: white;
  position: relative;
}

.contact-grid p {
  font-family: 'Raleway';
  width: auto;
  height: auto;
  margin: auto;
  padding: 1em;
  font-weight: bold;
  position: relative;
}

.contact-grid a {
  font-family: 'Raleway';
  position: relative;
  padding: 1em;
  color: blue;
  font-size: 15px;
  width: auto;
  height: auto;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
